# Dependencies
node_modules/
.pnp
.pnp.js

# Python
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Production builds
dist/
build/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
